.del-button {
  display: flex;
  cursor: pointer;
  float: right;
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
  margin-right: 10px;
}

.mat-icon {
  transform: scale(0.6);
}

.item {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}

.is-bought {
  text-decoration: line-through;
}
